body{
    background-color: gold;
}
h1{
    text-align: center;
    font-size: 50px;
}
img{
    height: 300px;
    width: 500px;
    margin: 20px;
    padding-left: 30%;

}
p pre{
    background-color: hsl(120, 42%, 48%);
    text-align: center;
    font-size: larger;
}
iframe{
    padding-left: 29%;
}
pre{
    text-align: center;
}

